/* start main rulez*/
/**{
  box-sizing: border-box;
}*/

body {
  width: auto;
  /*background-color: #888;*/
  /*height:4000px;*/
  margin: auto;
  padding:auto;
}

.container {
  width: 80%;
  /*Orginal Width 1170 */
  margin: auto;
  /*background-color: #fff;*/
}

.containerB {
  width: 100%;
  /*Orginal Width 1170 */
  margin: auto;
  /*background-color: #fff;*/
  box-sizing: border-box;
}
.container3{
    
    height: 400px;
    
}

.clearfix {
  clear: both;
}
/* End main rulez*/

/* Start Header */
.header .slider {
  background-color: #eee;
  height: 600px;
  /*background-image: url(HeroImg.jpg);
  background-size: cover;*/

  -webkit-background-image: url(https://source.unsplash.com/KgjcndVr7tU/1920x1080); 
  -moz-background-image: url(https://source.unsplash.com/KgjcndVr7tU/1920x1080);*/
  -o-background-image: url(https://source.unsplash.com/KgjcndVr7tU/1920x1080);
  background-image: url(back.jpeg);
  background-size: cover;
}

.header .slider .intro {
  padding-top: 250px;
  text-align: center;
  color: #fff;
}

.header .slider .intro h2 {
  margin: 0 auto;
  font-size: 50px;
  text-shadow: 5px 5px 5px #252f31;
  /*width: 650px;*/
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
}

.header .slider .intro button {
  background: none;
  color: #fff;
  /*width: 140px;*/
  margin-top: 40px;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 30px;
}

.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  /*text-transform: uppercase;*/
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li.active a, .header .navbar ul li a:hover {
  color: #2ecc71;
}
/* End Header */

/* Strat Features */
.features {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  /*box-sizing: border-box;*/
}

.features .feat {
  float: left;
  width: 33.333333%;
  height: 150px;
  box-sizing: border-box;
}

.features .feat h2 {
  /*text-transform: uppercase;*/
  color: #555;
}

.features .feat p {
  line-height: 1.5;
  color: #888;
  /*text-align: justify;*/
  /*padding: 0 20px 0 0;*/
}
/* End Features */

/* Start About Me */
.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
  /*width: 100%;*/
}
  /*border: 0.5em solid;*/
.about-me >div{
  /*box-sizing: border-box;*/
}
.about-me .image {
  float: left;
  width: 30% ;
  /*height: 600px;*/

}

.about-me .image img {
  width: 100%;
  height: 100%;*/
}

.about-me .info {
  float: left;
  width: 65%;
  margin: 1.5% 2.5% 0 2.5%;
}

.about-me .info h2 {
  margin: 20px 0 20px 40px;
  color: #555;
}
.about-me .info >p {
  margin: 0 0 10px 40px;
}
.about-me .info > p:last-of-type {
  margin-top: 10px;

}
.about-me .info  p {
  line-height: 1.5;
  color: #888;
}
.about-me .info .hobbies {
  overflow: hidden;
  margin: 20px 0 0 40px;
    
}
.about-me .info .hobbies .content {
  box-sizing: border-box;
  float: left;
  width: 50%;
  min-height: 100px;
  overflow: hidden;
    
}
.about-me .info .hobbies .content h3{
  color: #555;
}
.about-me .info .hobbies .content .icon {
  float: left;
  width: 12%;
}
.about-me .info .hobbies .content .icon i{
  max-width: 100%;
  padding-top: 10px;
}
.about-me .info .hobbies .content .text {
  float: left;
  width: 84%;
  margin-left: 2%;
}
/* End About Me */


/* Start My Skills */
.my-skills {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.image{
    height:auto !important;
}
.my-skills .skills, .my-skills .progress {
  width: 50%;
  float: left;
}
.my-skills .skills h2{
  margin: 25px 0 20px 40px;
  color: #555;
}
.my-skills .skills p{
  margin: 0 0 10px 40px;
  line-height: 1.5;
  color: #666;
  }
  .my-skills .skills p:last-of-type{
    margin-top: 15px;
  }
  .my-skills .skills button{
    padding: 10px 30px;
    margin: 25px 0 20px 40px;
  }
  .my-skills .progress .technique {
    margin-left: 50px;
  }
  .my-skills .progress .technique h3{
    color: #555;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .my-skills .progress .technique div{
    background-color: #f2f2f2;
    height: 20px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .my-skills .progress .technique div span{
    background-color: #2dcc70;
    height: 20px;
    display: block;
    line-height: 20px;
    text-align: right;
    color: #fff;
    font-weight: bold;
  }
/* End My Skills */


/* Start Resume */
.resume {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.resume h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}
.resume p{
  line-height: 1.5;
  color: #666;
  padding: 0 40px;
}
.resume button{
  margin-top: 15px;
}
/* End Resume */


/* Start My Education */
.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.my-education .main{
  width: 50%;
  margin-right: 5%;
  float: left;
}
.my-education .main h2{
  margin: 25px 0 20px 40px;
}
.my-education .main p{
  margin: 0 0 10px 40px;
}
.my-education .main p:last-of-type{
  margin-top: 25px;
}
.my-education .exp {
  width: 45%;
  float: left;
}
.my-education .exp h3{
  margin: 73px 0 10px 0;
}
.my-education .exp span{
  display: block;
  margin-bottom: 10px;
}
.my-education .exp span:last-of-type{
  background-color: #2dcc70;
  display: inline-block;
  color: #fff;
  padding: 3px 6px;
  font-size: 0.9em;
}
.my-education .exp hr{
  margin: 30px 0 10px 0px;
  width: 97%;
}
/* End My Education */

/* Start Testimonials */
.testimonials {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

  .testimonials q{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color:#888;
  font-family: tahoma,arial;
line-height: 1.8;
}
.testimonials ul{
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 80px;
}
.testimonials ul li{
  width: 5px;
  height: 5px;
  border: 2px solid #2dcc70;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.testimonials ul li:first-of-type{
  background-color: #2dcc70;
}
.testimonials ul li:hover{
  cursor: pointer;
  background-color: #2dcc70;
}
/* End Testimonials */

/* Start Portfolio */
.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.portfolio h2{
  padding: 20px 0 ;
}
.portfolio p{
  padding: 10px 0 30px 0 ;
}
.portfolio .our-work {
  overflow: hidden;
}

.portfolio .our-work>div {
  float: left;
  width: 33.333333%;
  margin-bottom: 10px;
}

.portfolio .our-work>div img {
  width: 92%;
  margin: 10px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 10px 10px #ccc;
}
/*End Portfolio */


/* Start Contact Me */
.contact-me {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}

.contact-me h2 {
  color: #fff;
  margin-left: 40px;
}

.contact-me p , .contact-me address{
  color: #6A6E71;
  margin-left: 40px;
}
.contact-me p strong{
  color: #d1d6da;
}

.contact-me .info, .contact-me .form {
  width: 45%;
  float: left;
}
.contact-me .form{
  margin-top: 0px;
  margin-left: 5%;
    float:right
}
.contact-me .form label{
  display: block;
  color: #d1d6da;
  margin-bottom: 20px;
  margin-top: 20px;
    
}
.contact-me .form input[type="text"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="email"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form textarea{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="submit"]{
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 20px;
  border-radius: 5px;
}
/* End Contact Me */


/*Start Fototer*/
.footer {
  background-color: #191e22;
  color: #6A6E71;
  padding: 20px 0 40px 0;
  text-align: center;
  overflow: hidden;
}
.footer .footer-folat{
  float: left;
  width: 50%;
  text-align: float-left;

}
.footer ul{
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 10px;*/
}

.footer ul li{
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.footer ul li a{
  font-size: 1em;
}
.footer a{
  color: #999;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
}
.footer a:hover{
  color: #2dcc70;
}
/*End Footer*/

/* Start My Framework */
.my-button{
  background: none;
  border: 2px solid #2dcc70;
  padding: 10px 30px;
  color: #2dcc70;
  font-weight: bold;
}
.paragrph{
  line-height: 1.5;
  color: #666;
}
.he{
  color: #555;
  /*text-transform: uppercase;*/
}
.sp{
  line-height: 1.5;
  color: #888;
}
.hr{
  margin: 30px 0 30px 40px ;
  background-color: #999;
  height: 1px;
  border: 0;
  width: 95%;
}
/* End My Framework */
/* Start Media Query */

@media (max-width: 800px) {
  .features .feat {
    width: 95%;
  }
  .about-me .image {
    width: 100%;
  }
  .about-me .image img {
    width: 50%;
    height: 70%;
    margin: 0 25%;
  }
  .about-me .info, .about-me .info .hobbies .content {
    width: 95%;
  }
 

  .resume {
    width: 100%;
    }
  .my-education .main, .my-education .exp {
    width: 95%;
    padding: 0;
    margin: 0;
  }
  .my-education .main .paragrph, .my-education .exp .paragrph {
    width: 100%;
    margin: 20px 0;
  }
  .my-education .main h2, .my-education .exp h3 {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
  }
  .my-education hr {
    margin: 20px 0;
    width: 100%;
  }
  .my-education .exp hr {
    margin: 0 auto;
    width: 50%;
  }
  .portfolio .our-work div {
    width: 100%;
  }
  .portfolio .our-work div img{
   width:70%;
    }
  .contact-me .info, .contact-me .form {
    width: 95%;
    }
  .footer .footer-folat {
    width: 95%;
    }}
}
/* End Media Query */

.contact-me ul{
  
    padding: 0;
    
    top: 50%;
    
    transform: translate(-50%, -50%);
    padding-top: 6000px;
padding-left: 300px;
}
.contact-me ul li
{
    list-style: none;
    float:left;
    margin: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    color: #262626;
    font-size: 50px;
    z-index: 1;
    transition: .5s ease-in-out;
    
}
.contact-me ul li:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: black;
    z-index: -1;
    border-radius: 50%
}
.contact-me ul li:after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    background: rgba(225,225,225, .3);
    transition: .5s ease-in-out;
    transition-delay: .3s;
        
}
.contact-me ul li:hover:before{
    left: 0;
    transform: scale(.9);
}
.contact-me ul li:hover:after{
    left: 0;
    transform: scale(.9);
}
.contact-me ul li:nth-child(1):before{
    background:#3b5999;
}
.contact-me ul li:nth-child(2):before{
    background:#0077B5;
}
.contact-me ul li:nth-child(3):before{
    background:#55acee;
}
.contact-me ul li .fa{
    transition: .5s ease-in-out; 
}
.contact-me ul li:hover .fa {
    color: #fff
}
.contact-me ul a{
    color: black;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

marquee {
  height: 300px;
  width: 80%;
  max-width: 100%;
  padding-bottom: 530px;
}

img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.form-btn{
    background: none;
  border: 2px solid #2dcc70;
  padding: 10px 30px;
  color: #2dcc70;
  font-weight: bold;
}
.text ul{
    padding-top: 2800px;
}


.btn11{
    
}

/* Below are the changes I made for your site.  I put them here to make them easy for you to find.  Feel free to implement them into your CSS where you feel they belong, or simply leave them here as is.  Cheers!  -Joe */

/* Height adjustment to solve clearing issue - JR */
.features .feat {
  height: auto !important; 
}

/* CSS Overrides to fix image carousel - JR */

.container3 {
  height: auto !important;
}

section {
  height: auto !important;
}

marquee {
    height: auto !important;
    padding-bottom: 0 !important;
}

/* CSS Overrides to fix Social Media Icon stacking at small viewport sizes - JR */

@media screen and (max-width: 1150px) {
  .contact-me ul li {
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
    margin: 5px;
    

  }

}

@media screen and (max-width: 500px) {
  .contact-me ul li {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }

}
@media screen and (min-width:1280px){
    .about-me{
        width: ;
    }
}

h2{
  margin-top:0px;
  margin-left:30px;

  font-size:45px;
}
.cont1{
  position:absolute;
  top:1450px;
  width:101%;
  left:800px;
  text-align:center;
  perspective:100px;
  margin-bottom:600px;
}
.upper{
  position:absolute;
  left:550px;
  width:350px;
  height:150px;
  border-radius:20px 20px 0px 0px;
  background:white;
}
.downer{
  position:absolute;
  top:150px;
  left:547.5px;
  width:355px;
  height:60px;
  border-radius:0px 0px 0px 0px;
  background: linear-gradient(rgb(240,240,240), white);
  tarnsform-style:preserve-3d;
  transform:rotatex(3deg);
  perspective:100px;
}
.printer{
   position:absolute;
  top:213px;
  left:545px;
  width:362px;
  height:35px;
  background:rgb(30,30,30);
}
.printer::after{
  content:"";
  position:absolute;
  top:20px;
  left:40px;
  width:280px;
  height:15px;
  border-radius:10px 10px 0px 0px;
  background:rgb(50,50,50);
  
}
.printerin{
     position:absolute;
  top:248px;
  left:545px;
  width:362px;
  height:35px;
  border-radius:0px 0px 20px 20px;
  background:rgb(30,30,30);
  
}
.printerin::before{
  content:"";
  position:absolute;
  top:0px;
  left:40px;
  width:280px;
  height:15px;
  border-radius:0px 0px 10px 10px;
  background:rgb(50,50,50);
  
}
.rainbow2{
  position:absolute;
  top:-20px;
  left:157px;
  height:20px;
  width:50px;
  background-image: repeating-linear-gradient(to right,
  #EF0079 0px, #EF0079 10px,
  #D70006 10px, #D70006 18px,
  #FF9C00 18px, #FF9C00 26px,
  #FEEB00 26px, #FEEB00 34px,
  #5DB333 34px, #5DB333 42px,
  #00B2FF 42px, #00B2FF 50px);
  opacity:.7;
}
.lense{
  position:absolute;
  top:31px;
  left:671px;
  width:100px;
  height:100px;
  border-radius:50%;
  background:black;
  border:4px solid rgb(50,50,50);
  box-shadow:-10px 10px 30px rgb(50,50,50);
}
.lense::after{
  content:"";
  position:absolute;
  left:10px;
  top:25px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:white;
  
}
.lense::before{
  content:"";
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:white;
  opacity:.5;
}
.button{
  position:absolute;
  left:600px;
  top:90px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:#FF0200;
  border:3px solid rgb(230,230,230);
  cursor:pointer;
  box-shadow:0px 0px 5px black;
   outline: none;
}
.button:focus{
  position:absolute;
  left:600px;
  top:90px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:#C62828;
  border:3px solid rgb(230,230,230);
  cursor:pointer;
  box-shadow:0px 0px 5px black;
   outline: none;
}
.flash{
  position:absolute;
  left:800px;
  top:30px;
  width:70px;
  height:50px;
  background: repeating-linear-gradient(
  to right,
  grey,
  grey 10px,
  rgb(50,50,50) 10px,
  rgb(50,50,50) 20px
);
  border:solid;
}
.nod{
  position:absolute;
  left:815px;
  top:96px;
  width:25px;
  height:25px;
  border-radius:50%;
  background:rgb(20,20,20);
  border:5px solid rgb(50,50,50);
}
.lable{
  position:absolute;
  left:570px;
  top:30px;
  width:90px;
  height:40px;
  background:rgb(30,30,30);
  border-radius:10px 10px 10px 10px;
  text-align:center;
}
.lable h3{
  position:absolute;
  top:-10px;
  left:10px;
  color:white;
  font-family: 'Roboto', sans-serif;
}
.rainbow1{
  opacity:.8;
  position:absolute;
  top:50px;
  left:153px;
  height:130px;
  width:48px;
  background-image: repeating-linear-gradient(to right,
  #EF0079 0px, #EF0079 8px,
  #D70006 8px, #D70006 16px,
  #FF9C00 16px, #FF9C00 24px,
  #FEEB00 24px, #FEEB00 32px,
  #5DB333 32px, #5DB333 40px,
  #00B2FF 40px, #00B2FF 48px);
}
.rainbow{
  position:absolute;
  top:-2px;
  left:155px;
  height:61px;
  width:48px;
  background-image: repeating-linear-gradient(to right,
  #EF0079 0px, #EF0079 8px,
  #D70006 8px, #D70006 16px,
  #FF9C00 16px, #FF9C00 24px,
  #FEEB00 24px, #FEEB00 32px,
  #5DB333 32px, #5DB333 40px,
  #00B2FF 40px, #00B2FF 48px);
    tarnsform-style:preserve-3d;
  transform:rotatex(10deg);
}
#s1{
  position:absolute;
  top:-240px;
  left:60px;
  width:230px;
  height:180px;
  border:5px solid white;
  border-bottom:30px solid white;
  box-shadow:0px 0px 40px black;
  background: url(5.jpg);
      background-repeat: no-repeat;
    background-size: cover;
transition:.5s;
  transfrom-origin:top;
  
}
#b{
  position:absolute;
  top:0px;
  left:0px;
  width:230px;
  height:180px;
  background:black;
transition:.5s;
  transfrom-origin:top;
}
.top{
  position:absolute;
  top:-10px;
  left:600px;
  background:rgb(40,40,40);
  width:250px;
  height:20px;
  border-radius:10px 10px 0px 0px;
}

@keyframes print{
  0%{
   top:-240px;
    background:rgb(0,0,0);
  }
  10%{
  top:-200px; 
    background:rgb(0,0,0);
  }
  20%{
  top:-150px; 
    background:rgb(0,0,0);
  }
  30%{
  top:-100px; 
    background:rgb(0,0,0);
  }
  40%{
  top:-50px; 
    background:rgb(0,0,0);
  }
  50%{
  top:-10px; background:rgb(0,0,0);
  }
   60%{
  top:0px; background:rgb(0,0,0);
  }
  100%{
    top:60px;background:rgb(0,0,0);
  }
}
@keyframes show{
  from{
    opacity:1;
  }
  to{ 
    opacity:0;
  }
}























